extends layout

block content
  <audio controls="controls" autoplay="true" loop="true"><source src='123.mp3' type="audio/mp3" />Your browser does not support this audio format.</audio>
  p
  p 有个男人爱着你 用心爱着你
  p 那个男人爱着你 彻底爱着你
  p 他情愿变成影子 守护著你跟随着你
  p 那个男人爱着你 心却在哭泣
  p 还需要多久 多长 多伤
  p 你才会听见他没说的话
  p 坚强像谎言一样
  p 不过是一种伪装
  p 他只希望有个机会能被你爱上
  p 喔
  p 还需要多久 多长 多渴望
  p 你才回头想他 贴在他的身旁
  p 微笑像谎言一样
  p 是最起码的假装 眼泪只能躲藏
  p 那个男人爱着你 忘记了自己
  p 从此他小心翼翼 静静等待爱情
  p 他情愿选择相信 为了你不言不语
  p 那个男人爱著你 深埋在回忆
  p 无论要多久 多长 多伤
  p 他还是爱着你 一如往常
  p 就好像一个傻瓜
  p 对著那空气说话
  p 他会不会有个机会能被你爱上
  p 喔
  p 还需要多久 多长 多渴望
  p 你再回头想他 贴在他的身旁
  p 微笑像谎言一样
  p 是最起码的假装 眼泪只能躲藏
  p 喔
  p 那个男人就是我 你知道吗
  p 还是知道却假装不知道吗
  p 问到沙哑你 也不会回答
  p 还需要多久 多长 多伤
  p 你才会听见我没说的话
  p 坚强像谎言一样
  p 不过是一种伪装
  p 我只希望有个机会能被你爱上
  p 喔
  p 无论要多久 多长 多受伤
  p 我还是爱着你 每分每秒一样
  p 就好像一个傻瓜
  p 对着那空气说话
  p 等着被你爱上